{{- $component := "sequencer" }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "linea-dev.component.name" (dict "component" $component "root" .) }}
  namespace: {{ include "linea-dev.namespace" . }}
  labels:
    {{- include "linea-dev.component.labels" (dict "component" $component "root" .) | nindent 4 }}
spec:
  serviceName: {{ include "linea-dev.component.name" (dict "component" $component "root" .) }}
  replicas: {{ .Values.sequencer.replicaCount }}
  selector:
    matchLabels:
      {{- include "linea-dev.component.selectorLabels" (dict "component" $component "root" .) | nindent 6 }}
  template:
    metadata:
      {{- with include "linea-dev.component.annotations" (dict "component" $component "root" .) }}
      annotations:
        {{- . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "linea-dev.component.labels.with.custom" (dict "component" $component "customLabels" .Values.sequencer.podLabels "root" .) | nindent 8 }}
    spec:
      serviceAccountName: {{ include "linea-dev.serviceAccountName" . }}
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sequencer.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: sequencer
          image: "{{ .Values.sequencer.image.repository }}:{{ .Values.sequencer.image.tag }}{{ if .Values.sequencer.image.digest }}@{{ .Values.sequencer.image.digest }}{{ end }}"
          imagePullPolicy: {{ .Values.sequencer.image.pullPolicy }}
          command: ["besu-untuned"]
          args:
            - --ethstats=ws://sequencer-node:{{ .Values.ethstats.secrets.data.WS_SECRET }}@{{ include "linea-dev.component.name" (dict "component" "ethstats" "root" .) }}:{{ .Values.ethstats.service.ports.http }}
            {{- range .Values.sequencer.args }}
            - {{ . }}
            {{- end }}
          {{- with .Values.sequencer.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: LOG4J_CONFIGURATION_FILE
              value: /var/lib/besu/log4j.xml
            {{- with .Values.sequencer.additionalEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: metrics
              containerPort: {{ .Values.sequencer.service.ports.metrics }}
              protocol: TCP
            - name: engine
              containerPort: {{ .Values.sequencer.service.ports.engine }}
              protocol: TCP
            - name: rpc
              containerPort: {{ .Values.sequencer.service.ports.rpc }}
              protocol: TCP
          {{- with .Values.sequencer.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.sequencer.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.sequencer.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: data
              mountPath: /opt/besu/data
            {{- if hasKey .Values.sequencer.files.overrides "config.toml" }}
            - name: overrides
              mountPath: /var/lib/besu/config.toml
              subPath: config.toml
              readOnly: true
            {{- else }}
            - name: defaults
              mountPath: /var/lib/besu/config.toml
              subPath: config.toml
              readOnly: true
            {{- end }}
            {{- if hasKey .Values.sequencer.files.overrides "log4j.xml" }}
            - name: overrides
              mountPath: /var/lib/besu/log4j.xml
              subPath: log4j.xml
              readOnly: true
            {{- else }}
            - name: defaults
              mountPath: /var/lib/besu/log4j.xml
              subPath: log4j.xml
              readOnly: true
            {{- end }}
            {{- if hasKey .Values.sequencer.files.overrides "genesis.json" }}
            - name: overrides
              mountPath: /var/lib/besu/genesis.json
              subPath: genesis.json
              readOnly: true
            {{- else }}
            - name: defaults
              mountPath: /var/lib/besu/genesis.json
              subPath: genesis.json
              readOnly: true
            {{- end }}
            {{- if hasKey .Values.sequencer.files.overrides "tracelimits.toml" }}
            - name: overrides
              mountPath: /var/lib/besu/traces-limits.toml
              subPath: tracelimits.toml
              readOnly: true
            {{- else }}
            - name: defaults
              mountPath: /var/lib/besu/traces-limits.toml
              subPath: tracelimits.toml
              readOnly: true
            {{- end }}
            {{- if hasKey .Values.sequencer.files.overrides "denylist.txt" }}
            - name: overrides
              mountPath: /var/lib/besu/deny-list.txt
              subPath: denylist.txt
              readOnly: true
            {{- else }}
            - name: defaults
              mountPath: /var/lib/besu/deny-list.txt
              subPath: denylist.txt
              readOnly: true
            {{- end }}
            {{- if .Values.sequencer.secrets.data }}
            - name: key
              mountPath: /var/lib/besu/key
              subPath: key
              readOnly: true
            {{- end }}
            {{- if .Values.sequencer.files.additionalFiles }}
            {{- range $key, $value := .Values.sequencer.files.additionalFiles }}
            - name: additional-files
              mountPath: "{{ .Values.sequencer.files.additionalFiles.mountPath }}/{{ $key }}"
              subPath: {{ $key }}
            {{- end }}
            {{- end }}
      volumes:
        - name: defaults
          configMap:
            name: {{ include "linea-dev.component.name" (dict "component" $component "root" .) }}-defaults
        {{- if .Values.sequencer.files.overrides }}
        - name: overrides
          configMap:
            name: {{ include "linea-dev.component.name" (dict "component" $component "root" .) }}-overrides
        {{- end }}
        {{- if .Values.sequencer.files.additionalFiles }}
        - name: additional-files
          configMap:
            name: {{ include "linea-dev.component.name" (dict "component" $component "root" .) }}-additional-files
        {{- end }}
        {{- if .Values.sequencer.secrets.data }}
        - name: key
          secret:
            secretName: {{ include "linea-dev.component.name" (dict "component" $component "root" .) }}-secret
        {{- end }}
      {{- with .Values.sequencer.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sequencer.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sequencer.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          {{- range .Values.sequencer.storage.accessModes }}
          - {{ . | quote }}
          {{- end }}
        {{- if .Values.sequencer.storage.storageClassName }}
        storageClassName: {{ .Values.sequencer.storage.storageClassName }}
        {{- end }}
        {{- if not (empty .Values.sequencer.storage.snapshotHandle) }}
        dataSource:
          kind: VolumeSnapshot
          name: {{ include "linea-dev.component.name" (dict "component" $component "root" .) }}
          apiGroup: snapshot.storage.k8s.io
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.sequencer.storage.size }}
